<div class="panel panel-default">
  <div class="panel-heading">
    <div search></div>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Lastname
          </th>
          <th>
            Email
          </th>
          <th colspan="2">Mobile</th>
        </tr>
      </thead>
      <tbody list-of-contacts>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <div pagination></div>
</div>
